<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>課題11のHTML</title>

    <!-- new.css -->
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">

    <script defer src="{{ url_for('static', filename='upload.js') }}"></script>
</head>

<body>
    <h1>
        中身は空です
    </h1>
</body>

</html>