<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Showのページ</title>

    <!-- new.css -->
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">

    <script defer src="{{ url_for('static', filename='show.js') }}"></script>
</head>

<body>
    <main>
        <section>
            <figure>
                <h1>
                    アップロード画像
                </h1>
                <ul>
                    <img src="{{ url_for('static', filename='/upload/before.jpg') }}" alt="before" width="200">
                </ul>
                <h1>
                    処理後の画像
                </h1>
                <ul>
                    <img src="{{ url_for('static', filename='/processed/after.jpg') }}" alt="before" width="200">
                </ul>
            </figure>
        </section>
    </main>
</body>

</html>